<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>zch-ui</title>
</head>
<body>
  <div id="app">
    <div class="popover" style="padding-left: 100px;padding-top: 100px;">
      <h1>popover：</h1>
      <zch-popover position="left">
        <template slot="content">这是一段浮层</template>
        <zch-button>left</zch-button>
      </zch-popover>
      <zch-popover>
        <template slot="content">这是一段浮层</template>
        <zch-button>top</zch-button>
      </zch-popover>
      <zch-popover position="bottom">
        <template slot="content">这是一段浮层</template>
        <zch-button>bottom</zch-button>
      </zch-popover>
      <zch-popover position="right">
        <template slot="content">这是一段浮层</template>
        <zch-button>right</zch-button>
      </zch-popover>
    </div>
    <div class="tabsBar">
      <h1>tabs：</h1>
      <zch-tab v-model="activeName" @click="hClick" @change="hChange">
        <zch-tab-pane label="title1" label-enabled-html name="title1">1111</zch-tab-pane>
        <zch-tab-pane label="title22" label-enabled-html name="title2">2222</zch-tab-pane>
        <zch-tab-pane label="title333" label-enabled-html name="title3">3333</zch-tab-pane>
      </zch-tab>
    </div>
    <div class="buttonBar">
      <h1>button：</h1>
      <zch-button @click="xxx('top')">主要按钮</zch-button>
      <zch-button disabled>禁用按钮</zch-button>
      <zch-button @click="xxx('bottom')" icon="setting" icon-position="right">图标按钮</zch-button>
      <zch-button @click="xxx('middle')" round>圆角按钮</zch-button>
      <zch-button square>方形按钮</zch-button>
      <zch-button-group icon-position="right">
        <zch-button icon="left">上一页</zch-button>
        <zch-button>按钮组</zch-button>
        <zch-button icon="right" icon-position="right">下一页</zch-button>
      </zch-button-group>
    </div>
    <div class="iconBar">
      <h1>icon：</h1>
      <zch-icon icon="setting"></zch-icon>
      <zch-icon icon="setting-fill"></zch-icon>
      <zch-icon icon="left"></zch-icon>
      <zch-icon icon="right"></zch-icon>
    </div>
    <div class="inputBar">
      <h1>input：</h1>
      <zch-input @input="input"></zch-input>
      <zch-input disabled placeholder="禁用状态"></zch-input>
      <zch-input readonly placeholder="只读状态"></zch-input>
      <zch-input v-model="password" password placeholder="密码状态"></zch-input @blur="input">
      <zch-input type="textarea"></zch-input>
      <zch-input><template slot="prepend">前缀</template></zch-input>
      <zch-input><template slot="prepend">前缀</template><template slot="append">后缀</template></zch-input>
      <zch-input><template slot="append">后缀</template></zch-input>
      <zch-input @blur="input" v-model.trim="message" clearable placeholder="可清空"></zch-input>
    </div>
    <div class="row-col">
      <h1>row-col：</h1>
      <zch-row style="margin-bottom: 20px;" align="bottom">
        <zch-col span="2" :phone="{ span: 11}" :pad="{ span: 5}" :narrow-pc="{ span: 8}"><div style="background-color: aquamarine;border-radius: 10px; height: 60px;"></div></zch-col>
        <zch-col span="20" :phone="{ span: 11}" :pad="{ span: 17}" :narrow-pc="{ span: 14}"><div style="background-color: aquamarine;border-radius: 10px; height: 40px;"></div></zch-col>
      </zch-row>
      <zch-row style="border: 1px solid #ddd;" gutter="20">
        <zch-col span="2"><div style="background-color: aquamarine;border-radius: 10px; height: 40px;"></div></zch-col>
        <zch-col span="5"><div style="background-color: aquamarine;border-radius: 10px; height: 40px;"></div></zch-col>
        <zch-col span="17"><div style="background-color: aquamarine;border-radius: 10px; height: 40px;"></div></zch-col>
      </zch-row>
    </div>
    <div class="layout">
      <h1>layout：</h1>
      <zch-layout style="height: 200px;">
        <zch-header>header</zch-header>
        <zch-layout>
          <zch-content>content</zch-content>
          <zch-side>side</zch-side>
        </zch-layout>
        <zch-footer>footer</zch-footer>
      </zch-layout>
    </div>
  </div>
  <script src="./src/app.js"></script>
  <script src="//at.alicdn.com/t/font_1500551_zesbpccwf9j.js"></script>
</body>
</html>