.block {
  margin-bottom: 24px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
  position: relative;
  > .source {
    padding: 24px;
    padding-bottom: 0;
  }
  &:hover {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
  }
}
.code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
.dark,
.light,
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1em 0;
}
.dark {
  background-color: #0092ff;
}
.light {
  background-color: rgba(0, 146, 255, 0.75);
}
.middle {
  background-color: #3ba0e9;
}